<footer class="bg-light sticky-bottom py-3">
    <div class="container">
        <p class="text-center m-0">
            Desarrollado por <span class="fw-bold">Leonardo Turzi</span>
        </p>
    </div>
</footer>
